In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_colwidth",200)

In [2]:
base_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/"
confirmed_df = pd.read_csv(base_url + "time_series_covid19_confirmed_global.csv")
deaths_df = pd.read_csv(base_url + "time_series_covid19_deaths_global.csv")
recovered_df = pd.read_csv(base_url + "time_series_covid19_recovered_global.csv")

In [3]:
confirmed_df

    Province/State      Country/Region        Lat  ...  6/21/21  6/22/21  6/23/21
0              NaN         Afghanistan  33.939110  ...   103902   105749   107957
1              NaN             Albania  41.153300  ...   132490   132496   132497
2              NaN             Algeria  28.033900  ...   136294   136679   137049
3              NaN             Andorra  42.506300  ...    13864    13864    13873
4              NaN              Angola -11.202700  ...    37748    37874    38002
..             ...                 ...        ...  ...      ...      ...      ...
273            NaN             Vietnam  14.058324  ...    13530    13782    13989
274            NaN  West Bank and Gaza  31.952200  ...   312811   313015   313015
275            NaN               Yemen  15.552727  ...     6889     6892     6898
276            NaN              Zambia -13.133897  ...   130631   133659   137026
277            NaN            Zimbabwe -19.015438  ...    42195    42714    43480

[278 rows x 523 columns]

In [4]:
deaths_df

    Province/State      Country/Region        Lat  ...  6/21/21  6/22/21  6/23/21
0              NaN         Afghanistan  33.939110  ...     4215     4293     4366
1              NaN             Albania  41.153300  ...     2454     2455     2455
2              NaN             Algeria  28.033900  ...     3641     3650     3660
3              NaN             Andorra  42.506300  ...      127      127      127
4              NaN              Angola -11.202700  ...      868      875      878
..             ...                 ...        ...  ...      ...      ...      ...
273            NaN             Vietnam  14.058324  ...       69       69       70
274            NaN  West Bank and Gaza  31.952200  ...     3554     3555     3555
275            NaN               Yemen  15.552727  ...     1355     1355     1355
276            NaN              Zambia -13.133897  ...     1691     1744     1794
277            NaN            Zimbabwe -19.015438  ...     1685     1691     1692

[278 rows x 523 columns]

In [5]:
recovered_df

    Province/State      Country/Region        Lat  ...  6/21/21  6/22/21  6/23/21
0              NaN         Afghanistan  33.939110  ...    65071    65565    66102
1              NaN             Albania  41.153300  ...   129918   129941   129955
2              NaN             Algeria  28.033900  ...    94822    95084    95331
3              NaN             Andorra  42.506300  ...    13665    13665    13688
4              NaN              Angola -11.202700  ...    31782    32003    32322
..             ...                 ...        ...  ...      ...      ...      ...
258            NaN             Vietnam  14.058324  ...     5453     5546     5684
259            NaN  West Bank and Gaza  31.952200  ...   306312   306532   306532
260            NaN               Yemen  15.552727  ...     3958     3980     3990
261            NaN              Zambia -13.133897  ...   110450   111844   113109
262            NaN            Zimbabwe -19.015438  ...    37200    37288    37477

[263 rows x 523 columns]

In [6]:
confirmed_df.drop(["Province/State","Lat","Long"],axis = 1, inplace = True)
deaths_df.drop(["Province/State","Lat","Long"],axis = 1, inplace = True)
recovered_df.drop(["Province/State","Lat","Long"],axis = 1, inplace = True)

In [7]:
confirmed_df.head()

  Country/Region  1/22/20  1/23/20  1/24/20  ...  6/20/21  6/21/21  6/22/21  6/23/21
0    Afghanistan        0        0        0  ...    98734   103902   105749   107957
1        Albania        0        0        0  ...   132490   132490   132496   132497
2        Algeria        0        0        0  ...   135821   136294   136679   137049
3        Andorra        0        0        0  ...    13842    13864    13864    13873
4         Angola        0        0        0  ...    37678    37748    37874    38002

[5 rows x 520 columns]

In [8]:
confirmed_df = confirmed_df.groupby("Country/Region").aggregate(np.sum).T
confirmed_df.index.name = "Date"
confirmed_df = confirmed_df.reset_index()

deaths_df = deaths_df.groupby("Country/Region").aggregate(np.sum).T
deaths_df.index.name = "Date"
deaths_df = deaths_df.reset_index()

recovered_df = recovered_df.groupby("Country/Region").aggregate(np.sum).T
recovered_df.index.name = "Date"
recovered_df = recovered_df.reset_index()

In [9]:
confirmed_df_melt = confirmed_df.melt(id_vars = "Date")
deaths_df_melt = deaths_df.melt(id_vars = "Date")
recovered_df_melt = recovered_df.melt(id_vars = "Date")

In [10]:
confirmed_df_melt

           Date Country/Region  value
0       1/22/20    Afghanistan      0
1       1/23/20    Afghanistan      0
2       1/24/20    Afghanistan      0
3       1/25/20    Afghanistan      0
4       1/26/20    Afghanistan      0
...         ...            ...    ...
100681  6/19/21       Zimbabwe  41628
100682  6/20/21       Zimbabwe  41779
100683  6/21/21       Zimbabwe  42195
100684  6/22/21       Zimbabwe  42714
100685  6/23/21       Zimbabwe  43480

[100686 rows x 3 columns]

In [11]:
confirmed_df_melt.rename(columns = {"value":"Confirmed"},inplace = True)
deaths_df_melt.rename(columns = {"value":"Deaths"},inplace = True)
recovered_df_melt.rename(columns = {"value":"Recovered"},inplace = True)

In [12]:
confirmed_df_melt

           Date Country/Region  Confirmed
0       1/22/20    Afghanistan          0
1       1/23/20    Afghanistan          0
2       1/24/20    Afghanistan          0
3       1/25/20    Afghanistan          0
4       1/26/20    Afghanistan          0
...         ...            ...        ...
100681  6/19/21       Zimbabwe      41628
100682  6/20/21       Zimbabwe      41779
100683  6/21/21       Zimbabwe      42195
100684  6/22/21       Zimbabwe      42714
100685  6/23/21       Zimbabwe      43480

[100686 rows x 3 columns]

In [13]:
deaths_df_melt

           Date Country/Region  Deaths
0       1/22/20    Afghanistan       0
1       1/23/20    Afghanistan       0
2       1/24/20    Afghanistan       0
3       1/25/20    Afghanistan       0
4       1/26/20    Afghanistan       0
...         ...            ...     ...
100681  6/19/21       Zimbabwe    1666
100682  6/20/21       Zimbabwe    1672
100683  6/21/21       Zimbabwe    1685
100684  6/22/21       Zimbabwe    1691
100685  6/23/21       Zimbabwe    1692

[100686 rows x 3 columns]

In [14]:
recovered_df_melt

           Date Country/Region  Recovered
0       1/22/20    Afghanistan          0
1       1/23/20    Afghanistan          0
2       1/24/20    Afghanistan          0
3       1/25/20    Afghanistan          0
4       1/26/20    Afghanistan          0
...         ...            ...        ...
100681  6/19/21       Zimbabwe      37167
100682  6/20/21       Zimbabwe      37184
100683  6/21/21       Zimbabwe      37200
100684  6/22/21       Zimbabwe      37288
100685  6/23/21       Zimbabwe      37477

[100686 rows x 3 columns]

In [15]:
confirmed_df_melt['Date'] = pd.to_datetime(confirmed_df_melt['Date'])
deaths_df_melt['Date'] = pd.to_datetime(deaths_df_melt['Date'])
recovered_df_melt['Date'] = pd.to_datetime(recovered_df_melt['Date'])

In [16]:
confirmed_df_melt

             Date Country/Region  Confirmed
0      2020-01-22    Afghanistan          0
1      2020-01-23    Afghanistan          0
2      2020-01-24    Afghanistan          0
3      2020-01-25    Afghanistan          0
4      2020-01-26    Afghanistan          0
...           ...            ...        ...
100681 2021-06-19       Zimbabwe      41628
100682 2021-06-20       Zimbabwe      41779
100683 2021-06-21       Zimbabwe      42195
100684 2021-06-22       Zimbabwe      42714
100685 2021-06-23       Zimbabwe      43480

[100686 rows x 3 columns]

In [17]:
confirmed_df_melt.Date.max()

Timestamp('2021-06-23 00:00:00')

In [18]:
confirmed_df_melt_copy = confirmed_df_melt.copy()

In [19]:
confirmed_df_melt_copy['Date'] = confirmed_df_melt_copy['Date'].dt.strftime("%Y/%m/%d")

In [20]:
confirmed_df_melt_copy.Date.max()

'2021/06/23'

In [21]:
confirmed_df_melt['Date'] = confirmed_df_melt['Date'].dt.strftime("%Y/%m/%d")
deaths_df_melt['Date'] = deaths_df_melt['Date'].dt.strftime("%Y/%m/%d")
recovered_df_melt['Date'] = recovered_df_melt['Date'].dt.strftime("%Y/%m/%d")

In [22]:
max_date = confirmed_df_melt.Date.max()

In [23]:
total_confirmed_df = confirmed_df_melt[confirmed_df_melt['Date']==max_date]
total_deaths_df = deaths_df_melt[confirmed_df_melt['Date']==max_date]
total_recovered_df = recovered_df_melt[confirmed_df_melt['Date']==max_date]

In [24]:
total_confirmed = total_confirmed_df['Confirmed'].sum()
total_deaths = total_deaths_df['Deaths'].sum()
total_recovered = total_recovered_df['Recovered'].sum()
total_active = total_confirmed - total_deaths - total_recovered

In [25]:
fig = go.Figure()
fig.add_trace(go.Indicator(mode = "number",value = int(total_confirmed),
                          number = {'valueformat':'0,f'},
                          title = {'text':'Total Confirmed Cases'},
                          domain = {'row':0,'column':0}))

fig.add_trace(go.Indicator(mode = 'number',value = int(total_deaths),
                          number = {'valueformat':'0,f'},
                          title = {'text':'Total Death Cases'},
                          domain = {'row':0,'column':1}))

fig.add_trace(go.Indicator(mode = 'number',value = int(total_recovered),
                          number = {'valueformat':'0,f'},
                          title = {'text':'Total Recovered Cases'},
                          domain = {'row':1,'column':0}))

fig.add_trace(go.Indicator(mode = 'number',value = int(total_active),
                          number = {'valueformat':'0,f'},
                          title = {'text':'Total Active Cases'},
                          domain = {'row':1,'column':1}))

fig.update_layout(grid={'rows':2,'columns':2,'pattern':'independent'})
fig.show()

In [26]:
pd.set_option('mode.chained_assignment',None)
fig = px.choropleth(total_confirmed_df,
             locations = 'Country/Region', locationmode = 'country names',
             color_continuous_scale = px.colors.sequential.Plasma,
             color = np.log10(total_confirmed_df['Confirmed']),
             range_color = (0,10))
fig.show()

In [27]:
A = total_confirmed_df.copy()
A['Deaths'] = total_deaths_df['Deaths']
A['DeathRate'] = (A['Deaths']/A['Confirmed']*100).round(2)
A

              Date      Country/Region  Confirmed  Deaths  DeathRate
518     2021/06/23         Afghanistan     107957    4366       4.04
1037    2021/06/23             Albania     132497    2455       1.85
1556    2021/06/23             Algeria     137049    3660       2.67
2075    2021/06/23             Andorra      13873     127       0.92
2594    2021/06/23              Angola      38002     878       2.31
...            ...                 ...        ...     ...        ...
98609   2021/06/23             Vietnam      13989      70       0.50
99128   2021/06/23  West Bank and Gaza     313015    3555       1.14
99647   2021/06/23               Yemen       6898    1355      19.64
100166  2021/06/23              Zambia     137026    1794       1.31
100685  2021/06/23            Zimbabwe      43480    1692       3.89

[194 rows x 5 columns]

In [28]:
fig = px.scatter(A.sort_values('Confirmed',ascending = False).head(20),
                x = 'Confirmed',y = 'Deaths', size = 'DeathRate',color = 'Country/Region')
fig.show()

In [29]:
B = A.copy()
B=B.sort_values('Deaths',ascending = False).head(20)
B

             Date  Country/Region  Confirmed  Deaths  DeathRate
93938  2021/06/23              US   33577651  602837       1.80
12455  2021/06/23          Brazil   18169881  507109       2.79
41519  2021/06/23           India   30082778  391981       1.30
60203  2021/06/23          Mexico    2487747  231847       9.32
72140  2021/06/23            Peru    2033606  190906       9.39
75254  2021/06/23          Russia    5306069  128719       2.43
96014  2021/06/23  United Kingdom    4683986  128291       2.74
44633  2021/06/23           Italy    4255434  127352       2.99
32696  2021/06/23          France    5824127  111024       1.91
19721  2021/06/23        Colombia    4027016  101947       2.53
3632   2021/06/23       Argentina    4326101   90986       2.10
34772  2021/06/23         Germany    3732439   90620       2.43
42557  2021/06/23            Iran    3128395   83329       2.66
85634  2021/06/23           Spain    3773032   80748       2.14
73178  2021/06/23          Poland    2879192   74893       2.60
84596  2021/06/23    South Africa    1861065   59258       3.18
42038  2021/06/23       Indonesia    2033421   55594       2.73
94976  2021/06/23         Ukraine    2293421   54299       2.37
93419  2021/06/23          Turkey    5387545   49358       0.92
74735  2021/06/23         Romania    1080389   32626       3.02

In [30]:
fig = make_subplots(specs=[[{'secondary_y':True}]])
fig.add_trace(go.Bar(x=B['Country/Region'],y=B['Deaths'],
                    text=B['Deaths'],name = 'Deaths',
                    textposition = 'auto'),secondary_y = False)

fig.add_trace(go.Scatter(x=B['Country/Region'],y=B['DeathRate'],
                    text=B['DeathRate'],name = 'DeathRate (%)',
                     mode = 'markers+lines'),secondary_y = True)

fig.show()

In [31]:
#Daily Confirmed Cases
C=confirmed_df_melt.groupby('Date').aggregate(np.sum)
C.index.name='Date'
C['DailyConfirmed']=C['Confirmed'].diff()
C=C.reset_index()

In [32]:
fig=px.area(C,x='Date',y='DailyConfirmed')
fig.show()

In [33]:
import requests
from bs4 import BeautifulSoup as soup
url="https://www.worldometers.info/world-population/population-by-country/"
r=requests.get(url)
bs=soup(r.content,'html')
table=bs.find_all('table')[0]

In [34]:
population_df=pd.read_html(str(table))[0]
population_df

       # Country (or dependency)  ...  Urban Pop % World Share
0      1                   China  ...         61 %     18.47 %
1      2                   India  ...         35 %     17.70 %
2      3           United States  ...         83 %      4.25 %
3      4               Indonesia  ...         56 %      3.51 %
4      5                Pakistan  ...         35 %      2.83 %
..   ...                     ...  ...          ...         ...
230  231              Montserrat  ...         10 %      0.00 %
231  232        Falkland Islands  ...         66 %      0.00 %
232  233                    Niue  ...         46 %      0.00 %
233  234                 Tokelau  ...          0 %      0.00 %
234  235                Holy See  ...         N.A.      0.00 %

[235 rows x 12 columns]

In [35]:
population_df.rename(columns={'Country (or dependency)':"Country/Region","Population (2020)":"Population"},
                     inplace = True)
population_df.drop(population_df.columns.difference(['Country/Region','Population']),axis=1,inplace=True)
population_df.replace("United States","US",inplace=True)
population_df

       Country/Region  Population
0               China  1439323776
1               India  1380004385
2                  US   331002651
3           Indonesia   273523615
4            Pakistan   220892340
..                ...         ...
230        Montserrat        4992
231  Falkland Islands        3480
232              Niue        1626
233           Tokelau        1357
234          Holy See         801

[235 rows x 2 columns]

In [36]:
import datetime
today = datetime.datetime.now()
today

datetime.datetime(2021, 6, 24, 17, 57, 13, 43725)

In [37]:
minus14 = today - datetime.timedelta(weeks=2)
minus14 = minus14.strftime("%Y/%m/%d")
minus14

'2021/06/10'

In [38]:
D=confirmed_df_melt.copy()
D = D[D['Date']>=minus14]
D.head(20)

            Date Country/Region  Confirmed
505   2021/06/10    Afghanistan      85892
506   2021/06/11    Afghanistan      87716
507   2021/06/12    Afghanistan      88740
508   2021/06/13    Afghanistan      89861
509   2021/06/14    Afghanistan      91458
510   2021/06/15    Afghanistan      93272
511   2021/06/16    Afghanistan      93288
512   2021/06/17    Afghanistan      96531
513   2021/06/18    Afghanistan      98734
514   2021/06/19    Afghanistan      98734
515   2021/06/20    Afghanistan      98734
516   2021/06/21    Afghanistan     103902
517   2021/06/22    Afghanistan     105749
518   2021/06/23    Afghanistan     107957
1024  2021/06/10        Albania     132426
1025  2021/06/11        Albania     132437
1026  2021/06/12        Albania     132449
1027  2021/06/13        Albania     132459
1028  2021/06/14        Albania     132461
1029  2021/06/15        Albania     132469

In [39]:
D['Daily'] = D.groupby('Country/Region')['Confirmed'].diff()
D.head(20)

            Date Country/Region  Confirmed   Daily
505   2021/06/10    Afghanistan      85892     NaN
506   2021/06/11    Afghanistan      87716  1824.0
507   2021/06/12    Afghanistan      88740  1024.0
508   2021/06/13    Afghanistan      89861  1121.0
509   2021/06/14    Afghanistan      91458  1597.0
510   2021/06/15    Afghanistan      93272  1814.0
511   2021/06/16    Afghanistan      93288    16.0
512   2021/06/17    Afghanistan      96531  3243.0
513   2021/06/18    Afghanistan      98734  2203.0
514   2021/06/19    Afghanistan      98734     0.0
515   2021/06/20    Afghanistan      98734     0.0
516   2021/06/21    Afghanistan     103902  5168.0
517   2021/06/22    Afghanistan     105749  1847.0
518   2021/06/23    Afghanistan     107957  2208.0
1024  2021/06/10        Albania     132426     NaN
1025  2021/06/11        Albania     132437    11.0
1026  2021/06/12        Albania     132449    12.0
1027  2021/06/13        Albania     132459    10.0
1028  2021/06/14        Albania     132461     2.0
1029  2021/06/15        Albania     132469     8.0

In [40]:
D.drop(['Date','Confirmed'],axis=1,inplace = True)
D = D.groupby('Country/Region').sum()
D

                      Daily
Country/Region
Afghanistan         22065.0
Albania                71.0
Algeria              4694.0
Andorra                68.0
Angola               1677.0
...                     ...
Vietnam              4154.0
West Bank and Gaza   1997.0
Yemen                  62.0
Zambia              31117.0
Zimbabwe             3984.0

[194 rows x 1 columns]

In [41]:
D = D.sort_values('Daily',ascending = False)
D

                   Daily
Country/Region
Brazil          958912.0
India           807955.0
Colombia        361879.0
Argentina       259945.0
Russia          197852.0
...                  ...
MS Zaandam           0.0
Kiribati             0.0
Grenada              0.0
Iceland              0.0
Palau                0.0

[194 rows x 1 columns]

In [42]:
E = pd.merge(left = D, right = population_df, left_on = 'Country/Region', right_on = 'Country/Region')
E

       Country/Region     Daily  Population
0              Brazil  958912.0   212559417
1               India  807955.0  1380004385
2            Colombia  361879.0    50882891
3           Argentina  259945.0    45195774
4              Russia  197852.0   145934462
..                ...       ...         ...
175  Marshall Islands       0.0       59190
176          Kiribati       0.0      119449
177           Grenada       0.0      112523
178           Iceland       0.0      341243
179             Palau       0.0       18094

[180 rows x 3 columns]

In [43]:
E['per100k'] = (E['Daily']*100000)/E['Population']
E

       Country/Region     Daily  Population     per100k
0              Brazil  958912.0   212559417  451.126567
1               India  807955.0  1380004385   58.547278
2            Colombia  361879.0    50882891  711.199763
3           Argentina  259945.0    45195774  575.153332
4              Russia  197852.0   145934462  135.575927
..                ...       ...         ...         ...
175  Marshall Islands       0.0       59190    0.000000
176          Kiribati       0.0      119449    0.000000
177           Grenada       0.0      112523    0.000000
178           Iceland       0.0      341243    0.000000
179             Palau       0.0       18094    0.000000

[180 rows x 4 columns]

In [44]:
fig = px.bar(E.sort_values('per100k',ascending = False).head(30).round(2),
            x = "Country/Region",y="per100k",text="per100k")
fig.show()